# == 목차 == 
# 1. pre-processing for movie-lens data (ml-latest-small, 2.4M)
# 2. 모델 정의
# 3. 테스트
# 4. cross validation
# 5. 실제 구현

## =====================================================================

In [1]:
import sys
sys.path.insert(0, '..')
import movielens as ml

## =====================================================================
# 1. pre-processing for movie-lens data (ml-latest-small, 2.4M)
## users: 671, movies: 9066

## ● 기본 데이터셋 생성

In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path_movie = '/home/dk/dev/source/github/movielens/data/ml-latest-small/movies.csv'
file_path_rating = '/home/dk/dev/source/github/movielens/data/ml-latest-small/ratings.csv'

### 영화 데이터프레임

In [4]:
header_movie = ['item_id', 'title', 'genres']
df_movies = pd.read_csv(file_path_movie, header=0, names=header_movie)
df_movies

,item_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
9095,159690,Teenage Mutant Ninja Turtles: Out of the Shado...,Action|Adventure|Comedy
9096,159755,Popstar: Never Stop Never Stopping (2016),Comedy
9097,159858,The Conjuring 2 (2016),Horror
9098,159972,Approaching the Unknown (2016),Drama|Sci-Fi|Thriller
9099,160080,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi
9100,160271,Central Intelligence (2016),Action|Comedy
9101,160438,Jason Bourne (2016),Action
9102,160440,The Maid's Room (2014),Thriller
9103,160563,The Legend of Tarzan (2016),Action|Adventure
9104,160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi
9105,160567,Mike & Dave Need Wedding Dates (2016),Comedy
9106,160590,Survive and Advance (2013),(no genres listed)
9107,160656,Tallulah (2016),Drama
9108,160718,Piper (2016),Animation
9109,160954,Nerve (2016),Drama|Thriller
9110,161084,My Friend Rockefeller (2015),Documentary
9111,161155,Sunspring (2016),Sci-Fi
9112,161336,Author: The JT LeRoy Story (2016),Documentary
9113,161582,Hell or High Water (2016),Crime|Drama
9114,161594,Kingsglaive: Final Fantasy XV (2016),Action|Adventure|Animation|Drama|Fantasy|Sci-Fi
9115,161830,Body (2015),Drama|Horror|Thriller
9116,161918,Sharknado 4: The 4th Awakens (2016),Action|Adventure|Horror|Sci-Fi
9117,161944,The Last Brickmaker in America (2001),Drama
9118,162376,Stranger Things,Drama
9119,162542,Rustom (2016),Romance|Thriller
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

### 평점 데이터프레임

In [5]:
header_rating = ['user_id', 'item_id', 'rating', 'timestamp']
df_ratings = pd.read_csv(file_path_rating, header=0, names=header_rating)
df_ratings

        user_id  item_id  rating   timestamp
0             1       31     2.5  1260759144
1             1     1029     3.0  1260759179
2             1     1061     3.0  1260759182
3             1     1129     2.0  1260759185
4             1     1172     4.0  1260759205
5             1     1263     2.0  1260759151
6             1     1287     2.0  1260759187
7             1     1293     2.0  1260759148
8             1     1339     3.5  1260759125
9             1     1343     2.0  1260759131
10            1     1371     2.5  1260759135
11            1     1405     1.0  1260759203
12            1     1953     4.0  1260759191
13            1     2105     4.0  1260759139
14            1     2150     3.0  1260759194
15            1     2193     2.0  1260759198
16            1     2294     2.0  1260759108
17            1     2455     2.5  1260759113
18            1     2968     1.0  1260759200
19            1     3671     3.0  1260759117
20            2       10     4.0   835355493
21            2       17     5.0   835355681
22            2       39     5.0   835355604
23            2       47     4.0   835355552
24            2       50     4.0   835355586
25            2       52     3.0   835356031
26            2       62     3.0   835355749
27            2      110     4.0   835355532
28            2      144     3.0   835356016
29            2      150     5.0   835355395
...         ...      ...     ...         ...
99974       671     4034     4.5  1064245493
99975       671     4306     5.0  1064245548
99976       671     4308     3.5  1065111985
99977       671     4880     4.0  1065111973
99978       671     4886     5.0  1064245488
99979       671     4896     5.0  1065111996
99980       671     4963     4.5  1065111855
99981       671     4973     4.5  1064245471
99982       671     4993     5.0  1064245483
99983       671     4995     4.0  1064891537
99984       671     5010     2.0  1066793004
99985       671     5218     2.0  1065111990
99986       671     5299     3.0  1065112004
99987       671     5349     4.0  1065111863
99988       671     5377     4.0  1064245557
99989       671     5445     4.5  1064891627
99990       671     5464     3.0  1064891549
99991       671     5669     4.0  1063502711
99992       671     5816     4.0  1065111963
99993       671     5902     3.5  1064245507
99994       671     5952     5.0  1063502716
99995       671     5989     4.0  1064890625
99996       671     5991     4.5  1064245387
99997       671     5995     4.0  1066793014
99998       671     6212     2.5  1065149436
99999       671     6268     2.5  1065579370
100000      671     6269     4.0  1065149201
100001      671     6365     4.0  1070940363
100002      671     6385     2.5  1070979663
100003      671     6565     3.5  1074784724

[100004 rows x 4 columns]

### 영화 id의 최대 숫자가 163949로 sparse matrix 를 생성했을 때 용량이 매우 커지게 된다.
### 이 문제를 해결하기 위해서 영화별 unique id 를 생성하여 mapping table로 관리한다.
### unique id는 영화별 1씩 증가하는 숫자

In [6]:
from movielens.preprocessing import get_mapping_table

df_mapping = get_mapping_table(df_ratings, 'item_id', 'movie_unique_id')
df_mapping

      movie_unique_id  item_id
0                   1        1
1                   2        2
2                   3        3
3                   4        4
4                   5        5
5                   6        6
6                   7        7
7                   8        8
8                   9        9
9                  10       10
10                 11       11
11                 12       12
12                 13       13
13                 14       14
14                 15       15
15                 16       16
16                 17       17
17                 18       18
18                 19       19
19                 20       20
20                 21       21
21                 22       22
22                 23       23
23                 24       24
24                 25       25
25                 26       26
26                 27       27
27                 28       28
28                 29       29
29                 30       30
...               ...      ...
9036             9037   158238
9037             9038   158314
9038             9039   158528
9039             9040   158956
9040             9041   159093
9041             9042   159462
9042             9043   159690
9043             9044   159755
9044             9045   159858
9045             9046   159972
9046             9047   160080
9047             9048   160271
9048             9049   160438
9049             9050   160440
9050             9051   160563
9051             9052   160565
9052             9053   160567
9053             9054   160590
9054             9055   160656
9055             9056   160718
9056             9057   161084
9057             9058   161155
9058             9059   161594
9059             9060   161830
9060             9061   161918
9061             9062   161944
9062             9063   162376
9063             9064   162542
9064             9065   162672
9065             9066   163949

[9066 rows x 2 columns]

### 위에서 만든 mapping table로 df_ratings의 item_id를 movie_unique_id로 바꾼다.

In [7]:
df_join = pd.merge(df_ratings, df_mapping, on=['item_id'])

del df_join['item_id']
columns_new = ['user_id', 'movie_unique_id', 'rating', 'timestamp']
df_join = df_join[columns_new]
df = df_join.rename(columns={'movie_unique_id': 'item_id'})

df

        user_id  item_id  rating   timestamp
0             1       31     2.5  1260759144
1             7       31     3.0   851868750
2            31       31     4.0  1273541953
3            32       31     4.0   834828440
4            36       31     3.0   847057202
5            39       31     3.0   832525157
6            73       31     3.5  1255591860
7            88       31     3.0  1239755559
8            96       31     2.5  1223256331
9           110       31     4.0   840100695
10          111       31     3.5  1097429230
11          150       31     2.5  1130905954
12          161       31     3.0   837629820
13          165       31     3.5  1111981801
14          186       31     3.0  1276205768
15          242       31     4.0   956686556
16          254       31     3.0   845157538
17          288       31     3.0   845862722
18          310       31     1.5  1414188058
19          311       31     3.0   898007906
20          325       31     4.5  1356316520
21          338       31     3.0   841656923
22          341       31     4.5  1240055463
23          386       31     2.0  1047028867
24          394       31     2.0  1297524887
25          452       31     2.5  1077114665
26          457       31     1.5  1471385561
27          461       31     2.0  1091959143
28          468       31     1.5  1296193889
29          485       31     4.0  1337748425
...         ...      ...     ...         ...
99974       652     8945     5.0  1440273477
99975       652     8955     5.0  1442690431
99976       652     8957     5.0  1442691006
99977       652     8982     3.0  1451790739
99978       652     8983     2.5  1449533204
99979       652     8984     3.0  1449533506
99980       652     8990     5.0  1447808622
99981       653     1664     3.0   948161066
99982       654     5424     4.5  1145391310
99983       654     5852     4.0  1145391359
99984       654     6303     3.0  1145391400
99985       655     8972     3.0  1470075909
99986       655     9038     4.5  1470071021
99987       656     1345     5.0   986242496
99988       656     3076     5.0   986242691
99989       656     3122     5.0   986244044
99990       659      147     4.0   836137550
99991       659      505     3.0   834694187
99992       663     8769     4.0  1438413063
99993       663     8858     3.0  1438412792
99994       663     8861     3.5  1438412783
99995       663     8863     3.0  1438412778
99996       663     8899     3.0  1438412878
99997       663     8902     3.5  1438412914
99998       664     6987     3.0  1393891653
99999       664     7104     2.5  1343761859
100000      664     7360     3.5  1344435977
100001      665      116     3.0   995232528
100002      665     3713     1.0  1010197684
100003      668     4630     1.0   993613478

[100004 rows x 4 columns]

## ● 모델의 성능평가를 위해 위에서 만든 기본 데이터셋을 훈련/테스트 셋으로 나눈다.
### create train / test split (randomly)
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;무작위로 데이터를 train set과 test set으로 나눈다. ratio_test=0.25면 train:test (0.75:0.25)

### randomly create train / test split

In [8]:
from movielens.model_selection import split_train_test_random
from movielens.preprocessing import convert_df_spar

df_train, df_test = split_train_test_random(df, ratio_test=0.25)
df_spar_train = convert_df_spar(df_train, df.item_id.max())
df_spar_test = convert_df_spar(df_test, df.item_id.max())

print('shape of train: {}'.format(df_spar_train.shape))
print('shape of test: {}'.format(df_spar_test.shape))

shape of train: (671, 9066)
shape of test: (671, 9066)

## =====================================================================
# 2. 모델 정의

## ● User-based

#### 특정 유저의 특정 영화에 대한 평점 예측 ( user:movie -> 1:1 )

In [9]:
from movielens.model import predict_userbased_user_item

#### 특정 유저의 모든 영화에 대한 평점 예측 ( user:movie -> 1:all )

In [10]:
from movielens.model import predict_userbased_user_allitems

#### Model 생성 (recommend_userbased)

In [11]:
from movielens.model import recommend_userbased

## ● Item-based

#### 특정 영화의 특정 유저에 대한 평점 예측 (user:movie -> 1:1)

In [12]:
from movielens.model import predict_itembased_user_item

#### 특정 영화의 모든 유저에 대한 평점 예측 (user:movie -> all:1)

In [13]:
from movielens.model import predict_itembased_item_allusers

#### Model 생성 (recommend_itembased)

In [14]:
from movielens.model import recommend_itembased

## ● Item-based adj-cosine

#### 유사도 매트릭스 (Item-based adj cosine에만 적용)

#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;user_A = [0 0 0 5 6 0]
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;user_B = [0 2 3 4 0 0]
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;두 유저에 대한 아이템 평가가 위와 같이 있을 때 adj cosine 을 적용하는 방법
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case 1. 모든 평점 값에(0 포함) 평점평균값을 빼준 후 벡터간의 cosine similarity를 계산
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case 2. 평점이 있는 값들만(0 제외) 평점평균값을 빼준 후 벡터간의 cosine similarity를 계산
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case 1과 2를 각각 돌려보고 rmse 값의 차이를 확인한다.

#### 특정 유저의 특정 영화에 대한 평점 예측 (user:movie -> 1:1)

In [15]:
from movielens.model import predict_itembased_user_item_adjcos

#### 특정 영화의 모든 유저에 대한 평점 예측 (user:movie -> all:1)

In [16]:
from movielens.model import predict_itembased_item_allusers_adjcos

#### 모델 생성 (recommend_itembased_adjcosine)

#### case 1.

In [17]:
from movielens.model import recommend_itembased_adjcosine_all

#### case 2.

In [18]:
from movielens.model import recommend_itembased_adjcosine_exist

## ● SVD

#### 모델 생성 (SVD)

In [19]:
from movielens.model import model_svd

## =====================================================================
# 3. 테스트

In [20]:
import time
from scipy import sparse
from movielens.model_selection import get_rmse

## ● User-based

#### 특정 유저의 모든 영화에 대한 평점을 예측하는 데 걸리는 시간 (user : movie -> 1 : all) &nbsp;&nbsp;(영화수: 9066)

In [21]:
time_start = time.time()

pred = predict_userbased_user_allitems(43, df_spar_train)

time_end = time.time()
print('process time: {} seconds'.format(time_end - time_start))

process time: 0.966536283493042 seconds

#### Multi-core test

In [22]:
np_multicore_result = recommend_userbased(df_spar_train, cores='*')

recommend_userbased process time is: 80.82383513450623 secconds

#### Multi-core RMSE

In [23]:
rmse_user = get_rmse(sparse.csr_matrix(df_spar_test), sparse.csr_matrix(np_multicore_result))
print('rmse for user-based is {}'.format(rmse_user))

rmse for user-based is 1.021988219262194

## ● Item-based

#### 특정 영화의 모든 유저에 대한 평점 예측하는 데 걸리는 시간 (user : movie -> 1 : all) &nbsp;&nbsp;(유저수: 671)

In [24]:
time_start = time.time()

pred = predict_itembased_item_allusers(9063, df_spar_train, metric='cosine', k=5)

time_end = time.time()
print('process time: {} seconds'.format(time_end - time_start))

process time: 0.08380937576293945 seconds

#### Multi-core test

In [25]:
np_multicore_result = recommend_itembased(df_spar_train, metric='cosine', k=5, cores='*')

recommend_itembased process time is: 307.54985094070435 secconds

#### Multi-core RMSE

In [26]:
rmse_user = get_rmse(sparse.csr_matrix(df_spar_test), sparse.csr_matrix(np_multicore_result))
print('rmse for user-based is {}'.format(rmse_user))

rmse for user-based is 1.0009975076890325

## ● Item-based adj-cosine

In [27]:
from movielens.model import get_sim_matrix_sub_all, get_sim_matrix_sub_exist

#### case 1.

In [28]:
time_start = time.time()

sim_matrix_all = get_sim_matrix_sub_all(df_spar_train)
predict_itembased_item_allusers_adjcos(9063, df_spar_train, sim_matrix_all, k=5)

time_end = time.time()
print('process time (subtract all): {} seconds'.format(time_end - time_start))

process time (subtract all): 20.352580308914185 seconds

#### case 2.

In [29]:
time_start = time.time()

sim_matrix_exist = get_sim_matrix_sub_exist(df_spar_train)
predict_itembased_item_allusers_adjcos(9063, df_spar_train, sim_matrix_exist, k=5)

time_end = time.time()
print('process time (subtract exist): {} seconds'.format(time_end - time_start))

process time (subtract exist): 21.200718879699707 seconds

#### test

#### case 1.

In [30]:
np_multicore_result_T_all = recommend_itembased_adjcosine_all(df_spar_train, k=5, cores='*')

recommend_itembased_adjcosine_all process time is: 107.92779684066772 secconds

#### case 2.

In [31]:
np_multicore_result_T_exist = recommend_itembased_adjcosine_exist(df_spar_train, k=5, cores='*')

recommend_itembased_adjcosine_exist process time is: 109.09211659431458 secconds

#### RMSE

#### case 1.

In [32]:
rmse_user = get_rmse(sparse.csr_matrix(df_spar_test), sparse.csr_matrix(np_multicore_result_T_all))
print('rmse for user-based is {}'.format(rmse_user))

rmse for user-based is 0.9945004431240092

#### case 2.

In [33]:
rmse_user = get_rmse(sparse.csr_matrix(df_spar_test), sparse.csr_matrix(np_multicore_result_T_exist))
print('rmse for user-based is {}'.format(rmse_user))

rmse for user-based is 0.9429885696536331

## ● SVD

#### 모든 유저의 모든 영화에 대한 평점을 예측하는 데 걸리는 시간 (user : movie -> all : all) &nbsp;&nbsp;(유저수: 671, 영화수: 9066)

In [34]:
np_preds_svd = model_svd(df_spar_train, 100, 3.4)

model_svd process time is: 0.7036581039428711 secconds

In [35]:
np_preds_svd.shape

(671, 9066)

#### RMSE

In [36]:
rmse_user = get_rmse(sparse.csr_matrix(df_spar_test), sparse.csr_matrix(np_preds_svd))
print('rmse for user-based is {}'.format(rmse_user))

rmse for user-based is 1.148312619738838

## =====================================================================
# 4. Cross validation

In [21]:
from movielens.model_selection import cross_validation

## ● User-based

In [38]:
# cross_validation(df, model, dict_args, k_fold=5)

dict_args_user = {'metric': 'cosine', 'k': 5, 'cores': '*'}
list_validations, avg_rmse = cross_validation(df, recommend_userbased, dict_args_user, k_fold=5)

print('1. list of validations: {}'.format(list_validations))
print()
print('2. average of rmse: {}'.format(avg_rmse))

recommend_userbased process time is: 84.46912002563477 secconds
recommend_userbased process time is: 82.18853712081909 secconds
recommend_userbased process time is: 81.657066822052 secconds
recommend_userbased process time is: 82.04198169708252 secconds
recommend_userbased process time is: 106.49633598327637 secconds
1. list of validations: [1.0697630879811504, 1.0816200437843593, 1.0845041296491547, 1.0594876623038205, 1.0742317979814766]

2. average of rmse: 1.0739213443399922

## ● Item-based

In [22]:
# cross_validation(df, model, dict_args, k_fold=5)

dict_args_item = {'metric': 'cosine', 'k': 5, 'cores': '*'}
list_validations, avg_rmse =  cross_validation(df, recommend_itembased, dict_args_item, k_fold=5)

print('1. list of validations: \n{}'.format(list_validations))
print()
print('2. average of rmse: \n{}'.format(avg_rmse))

recommend_itembased process time is: 303.80646896362305 secconds
recommend_itembased process time is: 303.4101858139038 secconds
recommend_itembased process time is: 306.5275082588196 secconds
recommend_itembased process time is: 306.30615401268005 secconds
recommend_itembased process time is: 309.8454155921936 secconds
1. list of validations:
[1.073636683280106, 1.0479549838583633, 1.0442316762218513, 1.0288234496009112, 1.0451926833177272]

2. average of rmse:
1.0479678952557916

## ● Item-based adj-cosine

#### case 1.

In [23]:
# cross_validation(df, model, dict_args, k_fold=5)

dict_args_item_adj_all = {'k': 5, 'cores': '*'}
list_validations_all, avg_rmse_all = \
            cross_validation(df, recommend_itembased_adjcosine_all, dict_args_item_adj_all, k_fold=5)

print('1. list of validations: \n{}'.format(list_validations_all))
print()
print('2. average of rmse: \n{}'.format(avg_rmse_all))

recommend_itembased_adjcosine_all process time is: 106.65847945213318 secconds
recommend_itembased_adjcosine_all process time is: 109.6990487575531 secconds
recommend_itembased_adjcosine_all process time is: 107.86917328834534 secconds
recommend_itembased_adjcosine_all process time is: 107.39775013923645 secconds
recommend_itembased_adjcosine_all process time is: 108.28344750404358 secconds
1. list of validations:
[1.0645051746093872, 1.0429213487584303, 1.0273291612939728, 1.027489540746559, 1.042754430935862]

2. average of rmse:
1.0409999312688423

#### case 2.

In [24]:
# cross_validation(df, model, dict_args, k_fold=5)

dict_args_item_adj_exist = {'k': 5, 'cores': '*'}
list_validations_exist, avg_rmse_exist = \
        cross_validation(df, recommend_itembased_adjcosine_exist, dict_args_item_adj_exist, k_fold=5)

print('1. list of validations: \n{}'.format(list_validations_exist))
print()
print('2. average of rmse: \n{}'.format(avg_rmse_exist))

recommend_itembased_adjcosine_exist process time is: 108.23872923851013 secconds
recommend_itembased_adjcosine_exist process time is: 108.54022169113159 secconds
recommend_itembased_adjcosine_exist process time is: 107.85718250274658 secconds
recommend_itembased_adjcosine_exist process time is: 108.97353887557983 secconds
recommend_itembased_adjcosine_exist process time is: 108.61156368255615 secconds
1. list of validations:
[1.0298510941993273, 0.9421864439092561, 1.0118730062053463, 0.9726859728129116, 0.968607291558719]

2. average of rmse:
0.985040761737112

## ● SVD

In [25]:
# cross_validation(df, model, dict_args, k_fold=5)
# dict_args_svd = {'k_input': 50, 'val_adj': 3}
# list_validations, avg_rmse = cross_validation(df, model_svd, dict_args_svd, k_fold=5)

dict_args_svd = {'k_input': 100, 'val_adj': 3.4}
list_validation, avg_rmse = cross_validation(df, model_svd, dict_args_svd, k_fold=5)

print('1. list of validations: {}'.format(list_validations))
print()
print('2. average of rmse: {}'.format(avg_rmse))

model_svd process time is: 0.6299712657928467 secconds
model_svd process time is: 0.6321954727172852 secconds
model_svd process time is: 0.6352272033691406 secconds
model_svd process time is: 0.41217732429504395 secconds
model_svd process time is: 0.4119126796722412 secconds
1. list of validations: [1.073636683280106, 1.0479549838583633, 1.0442316762218513, 1.0288234496009112, 1.0451926833177272]

2. average of rmse: 1.0862551849010251

## =====================================================================
# 5. 실제 추천

In [26]:
import movielens as ml

#### 특정 유저에게 영화를 추천
###### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) 3점 이상의 예측 평점을 가진 영화 중 보지 않은 영화를 선별
###### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) 1)의 결과 중 예측 평점이 높은 순서, movie_id 가 빠른 순서대로 top 5의 영화를 추천

In [27]:
#### 3번 유저가 본 영화목록을 보여준다

ml.get_seen_movie(df, df_movies, 3)

,item_id,title,genres
0,57,Home for the Holidays (1995),Drama
1,101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
2,220,Castle Freak (1995),Horror
3,240,Hideaway (1995),Thriller
4,267,Major Payne (1995),Comedy
5,285,Beyond Bedlam (1993),Drama|Horror
6,321,Strawberry and Chocolate (Fresa y chocolate) (...,Drama
7,322,Swimming with Sharks (1995),Comedy|Drama
8,342,Muriel's Wedding (1994),Comedy
9,473,In the Army Now (1994),Comedy|War
10,522,Romper Stomper (1992),Action|Drama
11,526,"Savage Nights (Nuits fauves, Les) (1992)",Drama
12,528,"Scout, The (1994)",Comedy|Drama
13,700,Angus (1995),Comedy
14,955,Bringing Up Baby (1938),Comedy|Romance
15,991,Michael Collins (1996),Drama
16,1026,So Dear to My Heart (1949),Children|Drama
17,1254,"Treasure of the Sierra Madre, The (1948)",Action|Adventure|Drama|Western
18,1456,"Pest, The (1997)",Comedy
19,1591,Spawn (1997),Action|Adventure|Sci-Fi|Thriller
20,1835,City of Angels (1998),Drama|Fantasy|Romance
21,2011,Back to the Future Part II (1989),Adventure|Comedy|Sci-Fi
22,2163,Attack of the Killer Tomatoes! (1978),Comedy|Horror
23,2174,Beetlejuice (1988),Comedy|Fantasy
24,2289,"Player, The (1992)",Comedy|Crime|Drama
25,2375,"Money Pit, The (1986)",Comedy
26,2600,eXistenZ (1999),Action|Sci-Fi|Thriller
27,2805,Mickey Blue Eyes (1999),Comedy|Romance
28,3158,"Emperor and the Assassin, The (Jing ke ci qin ...",Drama
29,4082,Barfly (1987),Comedy|Drama|Romance
30,4605,How to Get Ahead in Advertising (1989),Comedy|Fantasy
31,5018,Motorama (1991),Adventure|Comedy|Crime|Drama|Fantasy|Mystery|S...
32,5117,Funny Lady (1975),Comedy|Musical
33,5473,Fox and His Friends (Faustrecht der Freiheit) ...,Drama
34,6537,Terminator 3: Rise of the Machines (2003),Action|Adventure|Sci-Fi
35,6893,"Italian Job, The (1969)",Action|Comedy|Crime

## ● User-based

#### 추천 시스템에 의해서 추천된 영화목록을 보여준다 (예측평점 상위 5개)

In [28]:
# dict_args로 유사도 알고리즘(metric), k 값 가능

dict_args = {'metric': 'cosine', 'k': 5}
ml.get_recomm_movie(df, df_movies, 3, flag='user-based', dict_args=dict_args)

get_recomm_movie process time is: 1.1474554538726807 secconds

,item_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,10,GoldenEye (1995),Action|Adventure|Thriller
2,16,Casino (1995),Crime|Drama
3,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
4,46,How to Make an American Quilt (1995),Drama|Romance

## ● Item-based

#### 추천 시스템에 의해서 추천된 영화목록을 보여준다 (예측평점 상위 5개)

In [29]:
# dict_args로 k 값 가능
# 유사도 알고리즘(metric) cosine only

dict_args = {'k': 5}
ml.get_recomm_movie(df, df_movies, 3, flag='item-based', dict_args=dict_args)

get_recomm_movie process time is: 28.269792079925537 secconds

,item_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,7,Sabrina (1995),Comedy|Romance
2,16,Casino (1995),Crime|Drama
3,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
4,43,Restoration (1995),Drama

## ● Item-based adj-cosine

#### 추천 시스템에 의해서 추천된 영화목록을 보여준다 (예측평점 상위 5개)

In [30]:
# dict_args로 k 값 가능
# 유사도 알고리즘(metric) adj_cosine only

dict_args = {'k': 5}
ml.get_recomm_movie(df, df_movies, 3, flag='item-based-adjall', dict_args=dict_args)

get_recomm_movie process time is: 30.740734815597534 secconds

,item_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,16,Casino (1995),Crime|Drama
2,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,46,How to Make an American Quilt (1995),Drama|Romance
4,49,When Night Is Falling (1995),Drama|Romance

In [31]:
# dict_args로 k 값 가능
# 유사도 알고리즘(metric) adj_cosine only

dict_args = {'k': 5}
ml.get_recomm_movie(df, df_movies, 3, flag='item-based-adjexist', dict_args=dict_args)

get_recomm_movie process time is: 28.31323742866516 secconds

   item_id                                      title                   genres
0       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
1       46       How to Make an American Quilt (1995)            Drama|Romance
2       49               When Night Is Falling (1995)            Drama|Romance
3      130                              Angela (1995)                    Drama
4      233                             Exotica (1994)                    Drama

## ● SVD

#### 추천 시스템에 의해서 추천된 영화목록을 보여준다 (예측평점 상위 5개)

In [32]:
# dict_args로 k_input, val_adj 값 가능. 
# k_input: dimension of sigma matrix
# val_adj: 보정값

dict_args = {'k_input': 100, 'val_adj': 3.4}
ml.get_recomm_movie(df, df_movies, 3, flag='svd', dict_args=dict_args)

model_svd process time is: 0.6539449691772461 secconds
get_recomm_movie process time is: 1.5754420757293701 secconds

,item_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy